*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#filter {
    height: 100vh;
    width: 20vw;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

#map {
    height: 100vh;
    width: 80vw;
}